<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
    <title>{{title}}</title>
</head>
<body>
    {{!-- Aca se va a renderizar los elementos. --}}
    {{!-- Unica vez que utilizamos 3 pares de llaves --}}
    {{{body}}}
</body>
</html>